body {
  background-color: black;
  color: white;
  margin: auto;
  font-size: 2rem;
  height: auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 100%;
  padding: 2rem 0px;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
  border-top: 2px solid white;
}

.homeLink:hover {
  opacity: 0.8;
}
.shopLink:hover {
  opacity: 0.8;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
  background-color: black;
  border-top: 2px solid white;
}

.cartBtn {
  background-color: transparent;
  border: none;
}
.cartBtn:hover {
  opacity: 0.8;
}

.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  top: 0;
  right: 0;
  padding: 0px 5rem;
  background-color: black;
  height: 100%;
  width: 2rem;
  gap: 20px;
  opacity: 0;
  transition: 0.2s ease-out;
  border-left: 2px solid white;
}

.cart.active {
  visibility: visible;
  transition: 0.2s ease-out;
  width: 11rem;
  opacity: 1;
  border-left: 2px solid white;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease;
}
h2 {
  margin: 0px;
}

.githubLink:hover {
  transition: 0.1s ease;
  transform: scale(1.3);
  color: lightblue;
}
