@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  animation: 1s ease 0s 1 slideInFromLeft;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/rockWallBlack.jpg");
  background-position: top;
  background-size: cover;
}

.homeHeader {
  animation: 2s ease-out 0s 1 slideInFromLeft;
}
.homeShopLink {
  animation: 3s ease 0s 1 fadeUp;
  transition: 0.2s;
}

.homeShopLink:hover {
  transform: scale(1.3);
  transition: 0.2s;
  opacity: 0.8;
}
